@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1E1E1E;
  --background-start: #1E1E1E;
  --background-end: #1E1E1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: #007BFF;
    --foreground: #E0E0E0;
    --background: #000000;
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
  font-family: 'DM Sans';
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 4px;
  background-image:
    -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, .2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, .2) 50%,
      rgba(255, 255, 255, .2) 75%,
      transparent 75%,
      transparent)
}

@font-face {
  font-family: 'DM Sans';
  src: url('../assets/fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-family: 'LibreBarcode39';
  src: url('../assets/fonts/LibreBarcode39-Regular.ttf');
}

@font-face {
  font-family: 'LibreBarcode39Text';
  src: url('../assets/fonts/LibreBarcode39Text-Regular.ttf');
}